
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Error.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" />
    <link href="~/Scripts/Error.css" rel="stylesheet" />
</head>
<body>
    <div class="overlay"></div>
    <div class="terminal">
        <h1>Error <span class="errorcode">404</span></h1>
        <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily unavailable</ü>
        <p class="output">Please Go Back</p>
        <p class="output">Good luck</p>
    </div>
</body>
</html>
